ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: #6c757d;
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
}
.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, '/') /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
}

.mt-4 {
    margin-top: 1.5rem !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }
    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(-225px);
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -225px;
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
        display: none;
    }
}

#layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
}

main {
    background-color: #f9faf4;
}

#main {
    background-color: #ffffff;
}

#conn,
#reception,
#send,
#protocol,
#allPacket,
#src,
#port,
#attack,
#attackType,
#attackRisk,
#cpu1,
#cpu2,
#memory1,
#memory2,
#cpu3,
#memory3,
#disk,
#table {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 8px 8px 5px #a6a6a6, -8px -8px 5px #fffffffa;
    /* border: solid 0.5px rgb(147, 147, 147);
    border-radius: 10px;
    box-shadow: 11px -16px 10px rgba(0, 0, 0, 0.1); 아래로 4픽셀 내리는 그림자, 6픽셀의 흐림 정도, 투명한 검은색 그림자 */
}

#allPacket,
#attack,
#conn,
#protocol,
#cpu1,
#cpu2 {
    background-color: #ffff;
    width: 95%;
    margin: 3% 3% 3%;
}

#attackTypeAndRisk,
#srcAndPort,
#packetContainer,
#memContainer,
#detailContainer {
    display: flex;
}

#src,
#attackType,
#reception,
#memory1,
#cpu3 {
    background-color: #ffff;
    width: 55%;
    margin: 1% 3% 3%;
}

#attackRisk,
#attackRisk,
#port,
#send,
#memory2,
#memory3 {
    background-color: #ffff;
    width: 55%;
    margin: 1% 2% 3%;
}

#disk {
    background-color: #ffff;
    width: 55%;
    margin: 1% 3% 3%;
}

#table {
    background-color: #ffff;
    width: 55%;
    margin: 1% 2% 3%;
}

@media (min-width: 800px) {
    #disk-table,
    #myPage {
        display: flex;
    }
}

@media (max-width: 799px) {
    #disk {
        width: 95%;
        margin: 0 auto;
    }
    #table {
        width: 95%;
        margin: 3% auto;
    }
}

table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 11.5% 30%;
}
table.type04 th {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    vertical-align: center;
    border-bottom: 1px solid #ccc;
}
table.type04 td {
    width: 100%;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#myPage {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    height: 350%;
    border-radius: 40px;
    background: #f9faf4;
    box-shadow: 35px 35px 70px #bbbcb7, -35px -35px 70px #ffffff;
}

.myTable {
    position: absolute;
    left: 50%;
    top: 37%;
}

.row {
    margin-left: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #000000;
    font-size: 23px;
}

button {
    margin-left: 50%;
    padding: 1.3em 3em;
    font-size: 8px;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #f9fae0;
    box-shadow: 0px 15px 20px #fdfff4;
    color: #000000;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}
